<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../stylesheets/profile.css" />
    <link rel="stylesheet" href="../stylesheets/heatmap.css">
  </head>
  <body>
    <div class="overlay">
      <div class="box-cnt">
        <div class="box-nav">
          <span>Profile Update</span>
          <button><i class="bi bi-x"></i></button>
        </div>
        <div class="box">
          <div class="img-cnt">
            <img
              src="<%= user.profilePhoto %>"
              alt=""
            />
            <i class="bi bi-pencil handleImage"></i>
          </div>
          <form method="POST" action="/upload" enctype="multipart/form-data">
            <input class="file" type="file" name="photo" onchange="handleChange()" style="display: none;">
            <input class="filesubmit" type="submit" style="display: none;">
           </form>
          <form action="" class="fields">
            <div class="field">
              <label for="firstname">First Name</label>
              <input name="firstName" type="text" placeholder="First Name" />
            </div>
            <div class="field">
              <label for="lastname">Last Name</label>
              <input name="lastName" type="text" placeholder="Last Name" />
            </div>
            <div class="field">
              <label for="email">Email Address</label>
              <input name="email" type="text" placeholder="Email Address" disabled />
            </div>
            <div class="field">
              <label for="mobile">Mobile Number</label>
              <input name="phone" type="text" placeholder="Mobile Number" />
            </div>
            <div class="btns">
              <button class="cancel">Cancel</button>
              <button type="submit" class="save">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="overlay2">
      <div class="box-cnt">
        <div class="box">
          <form action="/changepassword" method="post" class="fields1">
            <div class="field">
              <label for="firstname">Current Password</label>
              <input type="text" name="oldpassword" required placeholder="Current Password" />
            </div>
            <div class="field">
              <label for="lastname">New Password</label>
              <input type="text" name="newPassword" required placeholder="New Password" />
            </div>
            <div class="field">
              <label for="email">Confirm Password</label>
              <input type="text" required placeholder="Confirm Password" />
            </div>
            <div class="btns">
              <button class="cancel">Cancel</button>
              <button type="submit" class="save1">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="main">
      <nav>
        <div class="logos">
          <div class="logo">
            <img
              src="https://www.cipherschools.com/static/media/Cipherschools_icon@2x.3b571d743ffedc84d039.png"
              alt=""
            />
            <span>CipherSchools</span>
          </div>
          <div class="browse">
            <i class="bi bi-browser-safari"></i>
            <span> Browse </span>
          </div>
        </div>
        <div class="searches">
          <div class="search">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Search and learn" />
            <i class="bi bi-sliders"></i>
          </div>
          <div class="noti">
            <i class="bi bi-bell"></i>
          </div>
          <div class="profile">
            <i class="bi bi-person-circle"></i>
          </div>
          <label tabindex="0" class="switch">
            <input type="checkbox" />
            <span class="slider"></span>
            <span class="icon sun">🌞</span>
            <span class="icon moon">🌜</span>
          </label>
        </div>
      </nav>

      <div class="cnt">
        <div class="l-nav">
          <div class="items">
            <div class="item">
              <i class="bi bi-house-fill"></i> <span>Home</span>
            </div>
            <div class="item">
              <i class="bi bi-book"></i> <span>Courses</span>
            </div>
            <div class="item">
              <i class="bi bi-browser-safari"></i> <span>Trending</span>
            </div>
            <div class="item">
              <i class="bi bi-person-check"></i> <span>Following</span>
            </div>
            <div class="item">
              <i class="bi bi-boxes"></i> <span>Dashboard</span>
            </div>
            <div class="item">
              <i class="bi bi-discord"></i> <span>Discord</span>
            </div>
            <div class="item">
              <i class="bi bi-database-check"></i> <span>Restoration Form</span>
            </div>
            <div class="item">
              <i class="bi bi-universal-access-circle"></i>
              <span>Creater Access</span>
            </div>
            
          </div>
          <a class="logout" href="/logout">

            <div class="logout">
              <div class="divider"></div>
              <div class="item">
                <i class="bi bi-box-arrow-right"></i> <span>logout</span>
              </div>
            </div>
          </a>
        </div>
        <div class="home">
          <div class="home-nav">
            <div class="nav-profile">
              <div class="l-profile">
                <div class="img">
                  <img
                    src="<%= user.profilePhoto %>"
                    alt=""
                  />
                  <i class="bi bi-pencil toggle-overlay"></i>
                </div>
                <div class="details">
                  <span>Hello,</span>
                  <div class="name">
                    <div class="first"><%= user.firstName %></div>
                    <div class="last"><%= user.lastName %></div>

                  </div>
                  <div class="email"><%= user.email %></div>
                </div>
              </div>
              <a class="r-profile" href="/followers"><div class="r-profile">0 Followers</div></a>
            </div>
          </div>
          <div class="home-cnt">
            <div class="about">
              <div class="a-nav">
                <div class="a-title">ABOUT ME</div>
                <button class="a-btn">Edit</button>
              </div>
              <textarea class="textarea" disabled name="" id=""></textarea>
            </div>
            <div class="divider"></div>
            <div class="map">
              
              <div class="month">
              <h5>may</h5>
              <h5>Jun</h5>
              <h5>Jul</h5>
              <h5>Aug</h5>
              <h5>Sep</h5>
              <h5>Oct</h5>
              <h5>Nov</h5>
              <h5>Dec</h5>
              <h5>Jan</h5>
              <h5>Feb</h5>
              <h5>Mar</h5></div>
              
              <div class="map-title">CIPHER MAP</div>
              <table>
                <thead>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <div class="divider"></div>
            <div class="on-web">
              <div class="web-nav">
                <div class="a-title">On The Web</div>
                <button class="web-btn">Edit</button>
              </div>
              <div class="web-cnt">
                <div class="web">
                  <label for="linkedIn">Linkedin</label>
                  <div class="inp-cnt">
                    <i class="bi bi-linkedin"></i>
                    <input type="text" placeholder="LinkedIn" />
                    <i class="bi bi-pencil"></i>
                  </div>
                </div>
                <div class="web">
                  <label for="linkedIn">Github</label>
                  <div class="inp-cnt">
                    <i class="bi bi-github"></i>
                    <input type="text" placeholder="LinkedIn" />
                    <i class="bi bi-pencil"></i>
                  </div>
                </div>
                <div class="web">
                  <label for="linkedIn">Facebook</label>
                  <div class="inp-cnt">
                    <i class="bi bi-facebook"></i>
                    <input type="text" placeholder="LinkedIn" />
                    <i class="bi bi-pencil"></i>
                  </div>
                </div>
                <div class="web">
                  <label for="linkedIn">Twitter</label>
                  <div class="inp-cnt">
                    <i class="bi bi-twitter"></i>
                    <input type="text" placeholder="LinkedIn" />
                    <i class="bi bi-pencil"></i>
                  </div>
                </div>
                <div class="web">
                  <label for="linkedIn">Instagram</label>
                  <div class="inp-cnt">
                    <i class="bi bi-instagram"></i>
                    <input type="text" placeholder="LinkedIn" />
                    <i class="bi bi-pencil"></i>
                  </div>
                </div>
                <div class="web">
                  <label for="linkedIn">Website</label>
                  <div class="inp-cnt">
                    <i class="bi bi-globe"></i>
                    <input type="text" placeholder="LinkedIn" />
                    <i class="bi bi-pencil"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="pro-info">
              <div class="a-nav">
                <div class="a-title">PROFESSIONAL INFORMATION</div>
                <button class="a-btn">Edit</button>
              </div>
              <div class="pro-cnt">
                <div class="dropdowns">
                  <label for="education">Highest education</label>
                  <div class="dropdown">
                    <select name="cars" id="cars">
                      <option value="primary">Primary</option>
                      <option value="secondary">Secondary</option>
                      <option value="higgher secondary">
                        Higgher Secondary
                      </option>
                      <option value="graduation">Graduation</option>
                      <option value="post graduation">Post Graduation</option>
                    </select>
                  </div>
                </div>
                <div class="dropdowns">
                  <label for="education">What do you do currently?</label>
                  <div class="dropdown">
                    <select name="cars" id="cars">
                      <option value="schooling">Schooling</option>
                      <option value="college student">College Student</option>
                      <option value="teaching">Teaching</option>
                      <option value="job">Job</option>
                      <option value="freelancing">Freelancing</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="pass">
              <div class="a-nav">
                <div class="a-title">PASSWORD & SECURITY</div>
                <button class="toggle-overlay2 a-btn">Change</button>
              </div>
              <div class="pass-cnt">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" />
              </div>
            </div>
            <div class="divider"></div>
            <div class="interest">
              <div class="a-nav">
                <div class="a-title">INTERESTS</div>
                <button class="a-btn">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const tbody = document.querySelector("tbody");
  
  // Generate 32 td elements for each week
  for (let i = 0; i < 7; i++) {
    const tr = document.createElement("tr");
    for (let j = 0; j < 50; j++) {
      const td = document.createElement("td");
      tr.appendChild(td);
    }
    tbody.appendChild(tr);
  }
  
  
  
    </script>
    <script>
      var form = document.querySelector(".fields");
      var overlay = document.querySelector(".overlay");
      var savebtn = document.querySelector(".save");
      // var savebtn1 = document.querySelector(".save1");


      form.addEventListener("submit", function (event) {
        event.preventDefault();
        var { firstName, lastName, email, phone } = event.target;

        // console.log(event.target.firstName.value);
        // const formData=new FormData(event.target)
        formData = {
          firstName: firstName.value,
          lastName: lastName.value,
          email: email.value,
          phone: phone.value,
        };
        console.log(formData);
        axios
          .post("/update", formData)
          .then(function (response) {
            // console.log(response.data.User.firstName);
            var first = document.querySelector(".first");
            first.innerHTML = response.data.User.firstName;
            var last=document.querySelector(".last");
            last.innerHTML=response.data.User.lastName;
            overlay.style.display = "none";

            // Update the DOM with the new data
            // alert("Update successful!");
          })
          .catch(function (error) {
            console.log(error);
          });
      });
    </script>
    <script>
      var editBtn = document.querySelector(".a-btn");
      var textarea = document.querySelector(".textarea");
      var overlay = document.querySelector(".overlay");
      var toggleoverlay = document.querySelector(".toggle-overlay");
      var handleImage = document.querySelector(".handleImage");
      var file = document.querySelector(".file");
      var filesubmit = document.querySelector(".filesubmit");
      var overlay2 = document.querySelector(".overlay2");
      var toggleoverlay2 = document.querySelector(".toggle-overlay2");


      handleImage.addEventListener("click",()=>{
        file.click()
      })
      function handleChange(){
        filesubmit.click()
      }
      editBtn.addEventListener("click", function () {
        if (textarea.disabled) {
          textarea.disabled = false;
          editBtn.innerHTML = "Save";
        } else {
          textarea.disabled = true;
          editBtn.innerHTML = "Edit";
        }
      });

      overlay.addEventListener("click", function (e) {
        if (
          e.target.classList.contains("overlay") ||
          e.target.classList.contains("bi-x") ||
          e.target.classList.contains("cancel")
        ) {
          overlay.style.display = "none";
        }
      });
      toggleoverlay.addEventListener("click", function () {
        overlay.style.display = "flex";
      });
      overlay2.addEventListener("click", function (e) {
        if (
          e.target.classList.contains("overlay2") ||
          e.target.classList.contains("bi-x") ||
          e.target.classList.contains("cancel")
        ) {
          overlay2.style.display = "none";
        }
      });
      toggleoverlay.addEventListener("click", function () {
        overlay.style.display = "flex";
      });
      toggleoverlay2.addEventListener("click", function () {
        overlay2.style.display = "flex";
      });
    </script>
  </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="../stylesheets/profile.css" />
  </head>
  <body>
    <form method="POST" action="/upload" enctype="multipart/form-data">
      <input type="file" name="photo">
      <input type="submit">
     </form>
    <form method="POST" action="/changepassword">
      <label for="currentPassword">Current Password:</label>
      <input type="password" id="currentPassword" name="oldpassword" required>
      
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" required>
      
      <button type="submit">Change Password</button>
    </form>
    <form id="update-form">
      <input id="first" type="text" name="firstName" placeholder="Enter your first name">
      <input id="last" type="text" name="lastName" placeholder="Enter your last name">
      <input id="email" type="email" name="email" placeholder="Enter your email">
      <input id="phone" type="tel" name="phone" placeholder="Enter your phone number">
      <button type="submit">Update</button>
    </form>
    <div class="main">
      <nav>
        <div class="logos">
          <div class="logo">
            <img
              src="https://www.cipherschools.com/static/media/Cipherschools_icon@2x.3b571d743ffedc84d039.png"
              alt=""
            />
            <span>CipherSchools</span>
          </div>
          <div class="browse">
            <i class="bi bi-browser-safari"></i>
            <span> Browse </span>
          </div>
        </div>
        <div class="searches">
          <div class="search">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Search and learn" />
            <i class="bi bi-sliders"></i>
          </div>
          <div class="noti">
            <i class="bi bi-bell"></i>
          </div>
          <div class="profile">
            <i class="bi bi-person-circle"></i>
          </div>
          <label tabindex="0" class="switch">
            <input type="checkbox" />
            <span class="slider"></span>
            <span class="icon sun">🌞</span>
            <span class="icon moon">🌜</span>
          </label>
        </div>
      </nav>

      <div class="cnt">
        <div class="l-nav">
          <div class="items">
            <div class="item">
              <i class="bi bi-house-fill"></i> <span>Home</span>
            </div>
            <div class="item">
              <i class="bi bi-house-fill"></i> <span>Home</span>
            </div>
            <div class="item">
              <i class="bi bi-house-fill"></i> <span>Home</span>
            </div>
            <div class="item">
              <i class="bi bi-house-fill"></i> <span>Home</span>
            </div>
            <div class="item">
              <i class="bi bi-house-fill"></i> <span>Home</span>
            </div>
            <div class="item">
              <i class="bi bi-house-fill"></i> <span>Home</span>
            </div>
            <div class="item">
              <i class="bi bi-house-fill"></i> <span>Home</span>
            </div>
            <div class="item">
              <i class="bi bi-house-fill"></i> <span>Home</span>
            </div>
            <div class="item">
              <i class="bi bi-house-fill"></i> <span>Home</span>
            </div>
          </div>
          <div class="logout">
            <div class="divider"></div>
            <div class="item">
              <i class="bi bi-house-fill"></i> <span>logout</span>
            </div>
          </div>
        </div>
        <div class="home">
          <div class="home-nav">
            <div class="nav-profile">
              <div class="l-profile">
                <div class="img">
                  <img
                    src="https://lh3.googleusercontent.com/a/AGNmyxYwkXeCRXbWgz42ILXN8fCCb-RWp3gRfymAwzI3=s96-c"
                    alt=""
                  />
                  <i class="bi bi-pencil"></i>
                </div>
                <div class="details">
                  <span>Hello,</span>
                  <div class="name">
                    <div class="first">
                      <%= user.firstName %> 
                    </div>
                    <div class="last">
                      <%= user.lastName %>
                    </div>
                  </div>
                  <div class="email"><%= user.email %></div>
                </div>
              </div>
              <div class="r-profile">0 Followers</div>
            </div>
          </div>
          <div class="home-cnt">
            <div class="content"></div>
            <div class="r-nav"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      var form = document.getElementById("update-form");
      
      
      form.addEventListener("submit", function(event) {

        event.preventDefault();
        var {firstName,lastName,email,phone} = event.target;

        // console.log(event.target.firstName.value);
        // const formData=new FormData(event.target)
        formData={
            firstName:firstName.value,
            lastName:lastName.value,
            email:email.value,
            phone:phone.value,
        }
        console.log(formData);
        axios.post("/update",formData)
          .then(function(response) {
            // console.log(response.data.User.firstName);
            var first=document.querySelector(".first");
            first.innerHTML=response.data.User.firstName;
            var last=document.querySelector(".last");
            last.innerHTML=response.data.User.lastName;
            var email=document.querySelector(".email");
            email.innerHTML=response.data.User.email;
          
            
            // Update the DOM with the new data
            // alert("Update successful!");
          })
          .catch(function(error) {
            console.log(error);
          });
      });
    </script>
  
  </body>
</html> -->
